Repository kubernetes-sigs/cluster-api-provider-packet, pull requests merged in 2020-07, with the labels that each got.

#142 Kubernetes HA with multi control plane
  controllers/packetcluster_controller.go
  controllers/packetmachine_controller.go
  docs/concepts/cluster.md
  docs/concepts/kubeadmcontrolplane.md
  docs/concepts/machine.md
  go.mod
  go.sum
  pkg/cloud/packet/client.go
  scripts/generate-cluster.sh
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#145 remove master from codebase and where possible from docs
  README.md
  api/v1alpha3/tags.go
  docs/concepts/machine.md
  pkg/cloud/packet/client.go
  pkg/cloud/packet/scope/machine.go
  scripts/generate-cluster.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S

#143 feat: support use of pxeurls in machine provisioning
  api/v1alpha3/packetmachine_types.go
  config/resources/crd/bases/infrastructure.cluster.x-k8s.io_packetclusters.yaml
  config/resources/crd/bases/infrastructure.cluster.x-k8s.io_packetmachines.yaml
  config/resources/crd/bases/infrastructure.cluster.x-k8s.io_packetmachinetemplates.yaml
  pkg/cloud/packet/client.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#146 Use proper latest version of packngo
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, sig/cluster-lifecycle, size/XS

#147 Swapoff command does not get persisted
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, kind/bug, sig/cluster-lifecycle, size/XS

#149 The projectID is fixed as part of the cluster template
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, kind/bug, sig/cluster-lifecycle, size/XS

#150 Use a more verbose tag to mark the elastic IP
  pkg/cloud/packet/client.go
Labels: approved, cncf-cla: yes, kind/cleanup, sig/cluster-lifecycle, size/XS

#152 update packet-ccm to 1.0.1 (with a pinned url)
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, sig/cluster-lifecycle, size/XS

#153 bump v0.3.1
  VERSION
  config/release/kustomization.yaml
Labels: approved, cncf-cla: yes, sig/cluster-lifecycle, size/XS

#154 Teach ccm what it needs to look after the control plane endpoint
  controllers/packetmachine_controller.go
  pkg/cloud/packet/client.go
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#155 Fix broken link to cluster template
  README.md
Labels: approved, cncf-cla: yes, sig/cluster-lifecycle, size/XS

#158 The addresses do not contains the right value but a Go obj
  pkg/cloud/packet/client.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/XS

#159 Bump CCM to v1.1.0
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#160 Bump v0.3.2
  VERSION
  config/release/kustomization.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS
