Repository kubernetes-sigs/cluster-api-provider-packet, pull requests merged in 2020-10, with the labels that each got.

#188 :bug: Update kustomize to fix template generation
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#189 feat: allow installation of the latest semantic version
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#190 fix: remove superfluous quotes that break semantic version matcher
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#192 :running: Rev version for v0.3.4 release
  VERSION
  config/release/kustomization.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#194 🏃capi: update cluster-api dependency to v0.3.10
  go.mod
  go.sum
  test/e2e/config/packet-dev.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#196 🐛 escape / defer interpolation of TRIMMED/RESOLVED variables to runtime
  templates/cluster-template.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S
